html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    --gap-tiny: 0.5em;
    --gap-small: 1em;
    --gap-medium: 2em;
    --gap-large: 4em;
    --gap-huge: 8em;

    background-color: var(--bg-1);
}

[data-scheme='light'] {
    --bg-1: #ffffff;
    --bg-2: #ebebeb;
    --bg-danger: #ff9999;
    --bg-warn: #ffff99;
    --bg-success: #ccff99;
    --bg-acc: #fdcdcd;

    --fg-1: #233142;
    --fg-2: #455d7a;
    --fg-3: #c7c7c7;
    --fg-acc: #f95959;
    --fg-danger: red;

    --border: #ccc;

    --link: hsl(208, 77%, 47%);
    --link-hover: hsl(208, 77%, 55%);
    --link-active: hsl(208, 77%, 40%);
}

/* [data-scheme='dark'] { */
/*     --bg-1: #233142; */
/*     --bg-2: #455d7a; */
/*     --fg-1: #ffffff; */
/*     --fg-2: #e3e3e3; */
/**/
/*     --acc-1: #ae3e3e; */
/*     --acc-2: #632323; */
/**/
/*     --link: hsl(206, 96%, 72%); */
/*     --link-hover: hsl(206, 96%, 78%); */
/*     --link-active: hsl(206, 96%, 64%); */
/* } */

h1:nth-child(1) {
    margin-top: 0;
}

button {
    cursor: pointer;
    padding: var(--gap-tiny);
    padding: var(--gap-tiny) var(--gap-small);
    border-radius: 0.5em;
    border: none;
}

button.primary {
    background-color: var(--fg-1);
    color: var(--bg-1);
    border: 1px solid var(--fg-1);
}

button.primary:disabled {
    background-color: var(--bg-2);
    color: var(--fg-2);
}

button.secondary {
    background-color: var(--bg-2);
    color: var(--fg-1);
    border: 1px solid var(--bg-2);
}

button.danger {
    background-color: var(--fg-danger);
    color: var(--bg-1);
}

button.danger:disabled {
    background-color: var(--bg-danger);
}

